body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

/* Gaya efek hati */
.love {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    animation: floatUp 4s linear infinite, fadeOut 4s ease-in-out infinite;
}

/* Animasi hati naik ke atas */
@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-200px) scale(1.2);
    }
}

/* Animasi hati memudar */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
